body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  .background {
    width: 100vw;
    height: 100vh;
    background: #020308;
    position: relative;
    overflow: hidden;
  }

  .portfolio-box {
    background-color: rgba(128, 128, 128, 0.1);
    border: 2px solid gray;
    box-shadow: 0 8px 32px 0 solid gray;
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    padding: 20px;
    width: 40%;
    height: 40%;
    margin: 50px auto;
    position: relative;
    z-index: 1;
  }
  
  @keyframes shoot {
    0% {
      transform: translate(0, 0) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translate(100vw, 100vh) rotate(360deg);
      opacity: 0;
    }
  }
  
  .shooting-emoji {
    position: absolute;
    font-size: 20px;
    animation: shoot 3s linear forwards;
  }
  
  @keyframes rotateemoji {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  