@import url('colors.css');

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

#theme-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--theme-toggle-dark-bg);
  color: var(--theme-toggle-dark-color);
  border: 1px solid var(--theme-toggle-border-dark);
  border-radius: 5px;
  z-index: 10;
  transition: background-color 0.3s, color 0.3s;
}

.background {
  width: 100%;
  min-height: 100vh;
  background: var(--background-dark);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolio-box {
  background-color: var(--portfolio-bg-dark);
  border: 2px solid var(--border-dark);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 20px;
  max-width: 800px;
  width: 90%;
  height: auto;
  margin: 20px auto;
  position: relative;
  z-index: 1;
  color: var(--text-dark);
  border-radius: 15px;
  text-align: center;
}


@media (max-width: 600px) {
  #theme-toggle {
    font-size: 14px;
    padding: 8px 16px;
  }

  .portfolio-box {
    width: 90%;
    padding: 15px;
    margin: 20px auto;
    font-size: 14px;
  }

  .background {
    height: 100%;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  #theme-toggle {
    font-size: 15px;
    padding: 9px 18px;
  }

  .portfolio-box {
    width: 70%;
    padding: 18px;
    margin: 30px auto;
  }
}

@media (min-width: 1025px) {
  #theme-toggle {
    font-size: 16px;
    padding: 10px 20px;
  }

  .portfolio-box {
    width: 40%;
    padding: 20px;
    margin: 50px auto;
  }
}

body.light-mode #theme-toggle {
  background-color: var(--theme-toggle-light-bg);
  color: var(--theme-toggle-light-color);
  border: 1px solid var(--theme-toggle-border-light);
}

body.dark-mode #theme-toggle {
  background-color: var(--theme-toggle-dark-bg);
  color: var(--theme-toggle-dark-color);
  border: 1px solid var(--theme-toggle-border-dark);
}

body.light-mode .background {
  background: var(--background-light);
}

body.dark-mode .background {
  background: var(--background-dark);
}

body.dark-mode .portfolio-box {
  background-color: var(--portfolio-bg-dark);
  border: 2px solid var(--border-dark);
  color: var(--text-dark);
}

body.light-mode .portfolio-box {
  background-color: var(--portfolio-bg-light);
  border: 2px solid var(--border-light);
  color: var(--text-light);
}

@keyframes shoot {
  0% {
    transform: translate(0, -10vh);
    opacity: 1;
  }
  100% {
    transform: translate(0, 110vh);
    opacity: 0;
  }
}

.shooting-emoji {
  position: absolute;
  font-size: 20px;
  animation: shoot 3s linear forwards; 
}

@keyframes rotateemoji {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
